body {
    color: blanchedalmond;
}

h1,
h2,
h3,
h4 {
    font-family: 'Times New Roman', Times, serif;
}

nav {
    color: steelblue;
    font-family: 'Times New Roman', Times, serif;
}

.nav-tabs .nav-link {
    color: #ccc;
}

.nav-tabs .nav-link.active {
    color: #271818;
    border-color: #dee2e6 #dee2e6 transparent;
    font-weight: bold;
    border-bottom: 2px solid #0d6efd;
}

.nav-tabs {
    border-bottom: 1px solid #555;
}